
         
		 body
		 {
			  background-image: url('background.jpg'); 
			background-repeat: no-repeat;
			background-size: cover;
		 }
		 
		 .logo {
            height: 250px;
            
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 50px; /* Odstęp między bokami */
            box-sizing: border-box;
        }

        .logo img {
            max-width: 100%;
            height: auto;
        }

        /* Styl dla nawigacji */
        .navbar-custom {
            height: 100px;
            background-color: #262322; /* Szare tło dla paska nawigacji */
        }

        .navbar-custom .nav-link {
            color: #FFAD05;
            font-size: 1.5rem;
        }

        /* Styl dla głównego bloku */
        .main-content {
            min-height: calc(100vh - 450px); /* Wysokość na tyle, ile pozwala strona */
           
            padding: 20px;
			
        }

        /* Styl dla pozycji (bloki produktów) */
        .product {
            background-color: #262322;
            padding: 15px;
            
            border-radius: 5px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .product img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
        }

        .product h5 {
            margin-top: 15px;
            font-size: 1.25rem;
        }

        .product p {
            font-size: 1.1rem;
            color: #FFAD05;
        }

        /* Styl dla stopki */
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: #262322; /* Ciemna stopka */
            color: #FFAD05;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
		
		a
		{
			text-decoration: none;
			color: #FFAD05;
		}
		
		.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFAD05; /* Yellow background */
    padding: 10px;
    z-index: 1000; /* Make sure it's on top of other elements */
	
}

.banner .alert {
    margin-bottom: 0;
}

.banner .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary
{
	background-color: #FFAD05;
	border-color: #FFAD07;
}

.btn-primary:hover
{
	background-color: #FFAD99;
	border-color: #FFAD99;
}